# Ignore Python virtual environments
venv/
ENV/
env/
.venv/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore VS Code settings (optional, usually local)
.vscode/

# Ignore OS files
.DS_Store

# Ignore Streamlit config (optional, depends on whether you want it in the repo)
.streamlit/

# Ignore bat files if not needed in repo
*.bat

# Ignore doc files
*.doc
*.docx
*.pdf
